<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <div>
        <img class="image-puc" src="assets/puc.png">
        <img class="image-di" src="assets/di_logo.png">
      </div>
    </mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <body>{{body}}</body>

    <footer>
      <div>
        <span>Advisor:</span>
        <a href="https://www.linkedin.com/in/kalinowski/">
          <h4><b>Marcos Kalinowski</b></h4>
        </a>
        <a href="https://www.linkedin.com/in/tatiana-escovedo/">
          <h4><b>Tatiana Escovedo</b></h4>
        </a>
      </div>
      <div>
        <span>Developed by:</span>
        <a href="https://www.linkedin.com/in/rodrigogximenes/">
          <h4><b>Rodrigo Ximenes</b></h4>
        </a>
      </div>
    </footer>
  </mat-card-content>
</mat-card>
