mat-card {
  max-width: 100%;
  min-height: 20em;
  margin: 10px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-card-title div:first-child {
  display: flex;
  flex-direction: column;
  width: 90%;
}

mat-card-content {
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-content footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 1em;
}

body {
  width: 50%;
  padding: 1em 0 0 1.3em;
}

.image-puc {
  height: 30%;
  width: 30%;
  align-self: flex-end;
}

.image-di {
  height: 10%;
  width: 10%;
  align-self: flex-end;
}
