.sidenav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

h1~span{
  cursor: pointer;
}
