<div class="sidenav">
  <mat-toolbar color="primary">
      <div class="menu-header">
          <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <!-- <button mat-button>
              <h1 (click)="sidenav.toggle()">Technical debt types in machine learning code</h1>
          </button> -->
      </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="over" [(opened)]="openSideNav">
          <mat-nav-list>
              <a mat-list-item routerLink='/home' (click)="sidenav.toggle()">Home</a>
              <a mat-list-item routerLink='/workflow' (click)="sidenav.toggle()">Workflow</a>
              <a mat-list-item routerLink='/methodology' (click)="sidenav.toggle()">Methodology</a>
          </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
