<form [formGroup]="debtForm">

  <mat-form-field appearance="fill">
    <mat-label>Enter your new debt</mat-label>
    <input matInput formControlName="debt" required>
    <mat-error *ngIf="debtControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select the workflow step</mat-label>
    <mat-select formControlName="workflow">
      <mat-option *ngFor="let workflowStep of workflowSteps" [value]="workflowStep">{{workflowStep.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button
    color="primary"
    [disabled]="!debtForm.valid"
    (click)="save(debtForm)">
    Save
  </button>
</form>
